@import '~bootstrap/scss/bootstrap';
body {
  background-color: #0A1A39;
  font-family: 'Heebo', sans-serif;
  color: antiqueWhite;
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
}

.modal-title {
  color: black;
}

.modal {
  background-color: darkSlateGray;
}

.hidden {
  display: none;
}
