@import '~bootstrap/scss/bootstrap';
body {
  background-color: antiqueWhite;
  font-family: 'Heebo', sans-serif;
  color: darkSlateGray;
  text-shadow: 4px 2px rgba(0, 0, 0, .25);
  // text-align: center;
}
h1 {
  font-family: 'Alfa Slab One';
  text-align: center;
}

.messages {
  text-align: center;
  text-shadow: none;
}

.modal-title {
  color: black;
}

.modal {
  background-color: darkSlateGray;
  text-shadow: none;
}

.hidden {
  display: none;
}

#one {
  color: red;
  text-shadow: 4px 4px rgba(0, 0, 0, .25);
  font-size: 61px;
}
#two {
  color: gold;
  text-shadow: 4px 4px rgba(0, 0, 0, .25);
  font-size: 59px;
}
#three {
  color: purple;
  text-shadow: 4px 4px rgba(0, 0, 0, .25);
  font-size: 64px;
}
#four {
  color: blue;
  text-shadow: 4px 4px rgba(0, 0, 0, .25);
  font-size: 64px;
}
#five {
  color: orange;
  text-shadow: 4px 4px rgba(0, 0, 0, .25);
  font-size: 61px;
}
#six {
  color: green;
  text-shadow: 4px 4px rgba(0, 0, 0, .25);
  font-size: 63px;
}
#seven {
  color: teal;
  text-shadow: 4px 4px rgba(0, 0, 0, .25);
  font-size: 60px;
}
#eight {
  color: pink;
  text-shadow: 4px 4px rgba(0, 0, 0, .25);
  font-size: 64px;
}
